<h1>体験を更新する</h1>
<%= form_with model: @experience, url:"/experiences/#{@experience.id}", method: :patch, class: "card col-md-6", local: true do |f| %>
  <%= render partial: "form", locals: {f: f} %>
  <%= f.submit "掲載を更新する", class:"btn btn-success" %>
<% end %>
